@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Teko:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.oswald {
  font-family: "Oswald", sans-serif;
}
.toko {
  font-family: "Teko", sans-serif;
}
.bg {
  background: linear-gradient(to bottom, #87ceeb, #1e90ff);
}
